<h2 class="label">{{ modifier }}</h2>

<div class="{{ type }}-box {{ colour }}">
  <div class="icon"><img src="{{path icon }}" /></div>
  <div class="instructions">
    <h2>Instructions</h2>
    <p>{{ text }}</p>
  </div>
</div>
