<h2 class="label">{{ modifier }}</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _4up"><img src="{{path image }}" /></div>
  <div class="card-item _4up"><img src="{{path image }}" /></div>
  <div class="card-item _4up"><img src="{{path image }}" /></div>
  <div class="card-item _4up"><img src="{{path image }}" /></div>
</div>
