<h2 class="label">{{ modifier }}</h2>

<div class="flex-row gallery">
  <h3 class="underline csu-orange-line">{{ modifier }}</h3>
  <figure class="{{ size }}">
    <img src="{{path image }}" />
    <figcaption>{{ caption }}</figcaption>
  </figure>
  <figure class="{{ size }}"><img src="{{path image }}" />
    <figcaption>{{ caption }}</figcaption>
  </figure>
  <figure class="{{ size }}"><img src="{{path image }}" />
    <figcaption>{{ caption }}</figcaption>
  </figure>
  <figure class="{{ size }}"><img src="{{path image }}" />
    <figcaption>{{ caption }}</figcaption>
  </figure>
  <figure class="{{ size }}"><img src="{{path image }}" />
    <figcaption>{{ caption }}</figcaption>
  </figure>
  <figure class="{{ size }}"><img src="{{path image }}" />
    <figcaption>{{ caption }}</figcaption>
  </figure>
</div>
