<h2 class="label">{{ modifier }}</h2>



<div class="flex-row gallery">
  <h3 class="underline csu-orange-line">{{ modifier }}</h3>
  <figure class="featured {{ size }}">
    {{{media}}}
      <figcaption>{{{ caption }}}</figcaption>
  </figure>
  <figure class="featured {{ size }}">
    {{{media}}}
      <figcaption>{{{ caption }}}</figcaption>
  </figure>
  <figure class="featured {{ size }}">
    {{{media}}}
      <figcaption>{{{ caption }}}</figcaption>
  </figure>
  <figure class="featured {{ size }}">
    {{{media}}}
      <figcaption>{{{ caption }}}</figcaption>
  </figure>
  <figure class="featured {{ size }}">
    {{{media}}}
      <figcaption>{{{ caption }}}</figcaption>
  </figure>
</div>
