<h2 class="label">{{ modifier }}</h2>

<p>{{notes}}</p>

<div class="flex-row">
  <div class="flex-column flex-container {{ alignment-1 }} square5 csu-grey ">
    <h5>Start</h5>
  </div>
  <div class="flex-column flex-container {{ alignment-2 }} square5 csu-green">
    <h5>Center</h5>
  </div>
  <div class="flex-column flex-container {{ alignment-3 }} square5 csu-blue">
    <h5>End</h5>
  </div>
</div>
