<h2 class="label">{{ modifier }}</h2>

<p>{{notes}}</p>

<div class="flex-row">
  <div class="flex-column{{ column-1 }}">
    <figure class="featured"><img src="{{ path image }}"></figure>
  </div>
  <div class="flex-column{{ column-2 }} ">
    <p>{{{ text }}}</p>
  </div>
</div>
