<h2 class="label">Brand Palette</h2>
<div class="flex-row ">
  <div class="flex-column csu-{{ SW1 }} swatch flex-container flex-end">
    <p>{{ SW1-label }}<br /><span class="small-text">{{ SW1-text }}</span></p>
  </div>
  <div class="flex-column csu-{{ SW2 }} swatch flex-container flex-end">
    <p>{{ SW2-label }}<br /><span class="small-text">{{ SW2-text }}</span></p>
  </div>
  <div class="flex-column csu-{{ SW3 }} swatch flex-container flex-end">
    <p>{{ SW3-label }}<br /><span class="small-text">{{ SW3-text }}</span></p>
  </div>
</div>

<div class="flex-row ">
  <div class="flex-column csu-{{ SW1 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW2 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW3 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
</div>
