<h2 class="label">Material Palette</h2>
<div class="flex-row ">
  <div class="flex-column csu-{{ SW1 }} swatch flex-container flex-end">
    <p>{{ SW1-label }}<br /><span class="small-text">{{ SW1-text }}</span></p>
  </div>
  <div class="flex-column csu-{{ SW2 }} swatch flex-container flex-end">
    <p>{{ SW2-label }}<br /><span class="small-text">{{ SW2-text }}</span></p>
  </div>
  <div class="flex-column csu-{{ SW3 }} swatch flex-container flex-end">
    <p>{{ SW3-label }}<br /><span class="small-text">{{ SW3-text }}</span></p>
  </div>
  <div class="flex-column csu-{{ SW4 }} swatch flex-container flex-end">
    <p>{{ SW4-label }}<br /><span class="small-text">{{ SW4-text }}</span></p>
  </div>
  <div class="flex-column csu-{{ SW5 }} swatch flex-container flex-end">
    <p>{{ SW5-label }}<br /><span class="small-text">{{ SW5-text }}</span></p>
  </div>
  <div class="flex-column csu-{{ SW6 }} swatch flex-container flex-end">
    <p>{{ SW6-label }}<br /><span class="small-text">{{ SW6-text }}</span></p>
  </div>
  <div class="flex-column csu-{{ SW7 }} swatch flex-container flex-end">
    <p>{{ SW7-label }}<br /><span class="small-text">{{ SW7-text }}</span></p>
  </div>
</div>

<div class="flex-row ">
  <div class="flex-column csu-{{ SW1 }}-{{ mod-1 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW2 }}-{{ mod-1 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW3 }}-{{ mod-1 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW4 }}-{{ mod-1 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW5 }}-{{ mod-1 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW6 }}-{{ mod-1 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW7 }}-{{ mod-1 }} swatch-half flex-container flex-end"></div>
</div>
<div class="flex-row ">
  <div class="flex-column csu-{{ SW1 }}-{{ mod-2 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW2 }}-{{ mod-2 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW3 }}-{{ mod-2 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW4 }}-{{ mod-2 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW5 }}-{{ mod-2 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW6 }}-{{ mod-2 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW7 }}-{{ mod-2 }} swatch-half flex-container flex-end"></div>
</div>
<div class="flex-row ">
  <div class="flex-column csu-{{ SW1 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW2 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW3 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW4 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW5 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW6 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-{{ SW7 }}-{{ mod-3 }} swatch-half flex-container flex-end"></div>
</div>
