<h2 class="label">{{ modifier }}</h2>

<h1 class="{{ class }}">{{ text }}</h1>
<h2 class="{{ class }}">{{ text }}</h2>
<h3 class="{{ class }}">{{ text }}</h3>
<h4 class="{{ class }}">{{ text }}</h4>
<h5 class="{{ class }}">{{ text }}</h5>
<h6 class="{{ class }}">{{ text }}</h6>
