<h2 class="label">{{ modifier }}</h2>

<div class="flex-row flex-center">
  <div class="flex-column profile ">
    <h4 class="csu-{{ colour-3 }}">Christian Surname</h4>
    <figure class="featured"><img src="{{path profile-pic-4}}" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> email@some.com</p>
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p>{{ bio-text }}</p>
  </div>
  <div class="flex-column profile">
    <h4 class="csu-{{ colour-3 }}">Christian Surname</h4>
    <figure class="featured"><img src="{{path profile-pic-1 }}" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> email@some.com</p>
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p>{{ bio-text }}</p>
  </div>
  <div class="flex-column profile">
    <h4 class="csu-{{ colour-3 }}">Christian Surname</h4>
    <figure class="featured"><img src="{{path profile-pic-3 }}" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> email@some.com</p>
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p>{{ bio-text }}</p>
  </div>
</div>
