<h2 class="label">{{ modifier }} - Right Text</h2>

<div class="flex-row">
  <div class="flex-column profile">
    <figure class="featured"><img src="{{path profile-pic-2 }}" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> <a href="#">{{ bio-email }}</a></p>
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p><strong>Website:</strong> <a href="#">{{ bio-website }}</a></p>
  </div>
  <div class="flex-column-2">
    <h4 class="csu-{{ colour-1 }}">{{ bio-name }}</h4>
    <p>{{ bio-text }}</p>
  </div>
</div>

<h2 class="label">{{ modifier }} - Left Text</h2>

<div class="flex-row">
  <div class="flex-column-2">
    <h4 class="csu-{{ colour-1 }}">{{ bio-name }}</h4>
    <p>{{ bio-text }}</p>
  </div>
  <div class="flex-column profile">
    <figure class="featured"><img src="{{path profile-pic-2 }}" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> <a href="#">{{ bio-email }}</a></p>
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p><strong>Website:</strong> <a href="#">{{ bio-website }}</a></p>
  </div>
</div>
