<h2 class="label">{{ modifier }}</h2>


<div class="flex-row flex-center">
  <div class="flex-column profile ">
    <h4 class="csu-{{ colour-2 }}">Christian Surname</h4>
    <figure class="featured"><img src="{{path profile-pic-3 }}" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> <a href="#">{{ bio-email }}</a></p>
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p><strong>Website:</strong> <a href="#">{{ bio-website }}</a></p>
    <p>{{ bio-text }}</p>
  </div>
  <div class="flex-column profile ">
    <h4 class="csu-{{ colour-2 }}">Christian Surname</h4>
    <figure class="featured"><img src="{{path profile-pic-4 }}" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> <a href="#">{{ bio-email }}</a></p>
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p><strong>Website:</strong> <a href="#">{{ bio-website }}</a></p>
    <p>{{ bio-text }}</p>
  </div>

</div>
