<h2 class="label">{{ modifier }} - Right Text</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="{{path profile-pic-3 }}" />
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="{{path profile-pic-2 }}" />
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="{{path profile-pic-4 }}" />
    <p><strong>Twitter:</strong> <a href="#">@{{ bio-twitter }}</a></p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
</div>
