<h2 class="label">{{ modifier}}</h2>

<h4 class="csu-{{ modifier }}">Background colour applied</h4>
<h4 class="csu-{{ modifier }}-text">Text colour applied</h4>
<h4 class="underline csu-{{ modifier }}-line">Line colour applied to underline</h4>
<ol class="number-list csu-{{ modifier }}-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-{{ modifier }}-fade"><td>This table has a fade of the main applied</td></tr>
</table>
