<h2 class="label">{{ modifier}}</h2>

<p>Various Levels of "height" applied to shadows</p>
<div class="flex-row flex-tiles flex-tile-grout">
  <div class="flex-column square10 csu-grey {{ sh1 }}"></div>
  <div class="flex-column square10 csu-grey {{ sh2 }}"></div>
  <div class="flex-column square10 csu-grey {{ sh3 }}"></div>
  <div class="flex-column square10 csu-grey {{ sh4 }}"></div>
  <div class="flex-column square10 csu-grey {{ sh5 }}"></div>
</div>
